<div class="settings">
  <div class="settings__cards">
    <div class="settings__cards__row">
      <div class="settings__cards__row__item">
        <app-project-info-form></app-project-info-form>
        <br />
        <app-authentication-form></app-authentication-form>
      </div>

      <app-browser-form class="settings__cards__row__item"></app-browser-form>
    </div>
    <app-application-form></app-application-form>
    <app-gtm-form></app-gtm-form>
    <app-project-io-form></app-project-io-form>
  </div>
</div>
