@use '@angular/material' as mat;

.spacer {
  flex: 1 1 auto;
}

.mat-button-toggle-group-appearance-standard {
  border: none !important;
  border-radius: 50% !important;
}

.report-toolbar {
  background: white;
}

.filter {
  flex-direction: row !important;
}

.mat-mdc-form-field {
  border-radius: 5px;
  @include mat.form-field-density(-4);
  @include mat.select-density(-4);
}
