<mat-toolbar class="report-toolbar mat-elevation-z8">
  <button
    mat-icon-button
    class="icon"
    matTooltip="Add new report"
    matTooltipPosition="above"
    aria-label="Add new report"
    (click)="emitAddEvent()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    matTooltip="Delete"
    matTooltipPosition="above"
    aria-label="Delete"
    (click)="deleteSelected()"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>

  <button
    mat-icon-button
    class="icon"
    matTooltip="Mark to stop operation for this event"
    matTooltipPosition="above"
    aria-label="Stop operation"
    (click)="stopOperation()"
  >
    <mat-icon>cancel</mat-icon>
  </button>
  <div class="spacer"></div>
  @if (!isSearchVisible()) {
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      (change)="onToggleChange($event)"
    >
      <mat-button-toggle value="search" aria-label="search event">
        <mat-icon color="primary">search</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  }
  @if (isSearchVisible()) {
    <mat-form-field appearance="outline" class="filter" color="primary">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="add_to_cart"
        #input
      />
    </mat-form-field>
  }
  <button
    mat-icon-button
    class="icon"
    matTooltip="Mark to prevent navigation for this event"
    matTooltipPosition="above"
    aria-label="Prevent navigation"
    (click)="preventNavigationSelected()"
  >
    <mat-icon>bookmark_border</mat-icon>
  </button>
</mat-toolbar>
