<mat-toolbar class="report-toolbar mat-elevation-z8">
  <button
    mat-icon-button
    class="icon"
    matTooltip="Add new report"
    matTooltipPosition="above"
    aria-label="Add new report"
    [routerLink]="['new-report']"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    matTooltip="Delete"
    matTooltipPosition="above"
    aria-label="Delete"
    (click)="deleteSelected()"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    matTooltip="Mark to prevent navigation for this event"
    matTooltipPosition="above"
    aria-label="Prevent navigation"
    (click)="preventNavigationSelected()"
  >
    <mat-icon>bookmark_border</mat-icon>
  </button>
  <div class="spacer"></div>
  <mat-form-field appearance="outline" class="filter">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="add_to_cart"
      #input
    />
  </mat-form-field>
</mat-toolbar>
