.spacer {
  flex: 1 1 auto;
}

.mat-button-toggle-group-appearance-standard {
  border: none !important;
  border-radius: 50% !important;
}

.report-toolbar {
  background: white;
}

.filter {
  flex-direction: row !important;
}