<div class="init-project-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>New Project</mat-card-title>
        <mat-card-subtitle
          >Please fill in the required information</mat-card-subtitle
        >
      </mat-card-header>
      <br />
      <mat-card-content>
        <div style="display: flex; flex-direction: column">
          <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <input
              id="init-form-project-name"
              matInput
              placeholder="Corporate Website Project"
              formControlName="projectName"
              [errorStateMatcher]="validProjectNameMatcher"
            />
            @if (
              form.controls['projectName'].hasError('invalidCharacters') &&
              form.controls['projectName'].touched
            ) {
              <mat-error
                >Can only have: <strong>-!'",</strong> and spaces</mat-error
              >
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Generated Project Slug</mat-label>
            <input
              id="init-form-project-slug"
              matInput
              formControlName="projectSlug"
              readonly
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Measurement ID</mat-label>
            <input
              id="init-form-measurement-id"
              matInput
              formControlName="measurementId"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Project Description</mat-label>
            <textarea
              id="init-form-project-description"
              matInput
              formControlName="projectDescription"
            ></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" style="gap: 1rem">
        <button
          id="init-form-cancel-btn"
          type="button"
          mat-raised-button
          [routerLink]="['/']"
        >
          Cancel
        </button>
        <button
          id="init-form-submit-btn"
          type="submit"
          mat-raised-button
          color="primary"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
