<div class="project-view">
  <app-toolbar
    [settings]="(project$ | async)?.settings"
    [snav]="snav"
    [projects]="this.projectInfo"
    (changeProject)="snav.close(); onChangeProject($event, snav)"
  ></app-toolbar>

  <mat-sidenav-container class="project-view__sidenav-container">
    <mat-sidenav #snav opened [mode]="'over'" fixedTopGap="56">
      <app-side-nav-list
        [snav]="snav"
        (menuClick)="snav.toggle()"
      ></app-side-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="table-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
