<div class="functional-card">
  <div class="functional-card__actions">
    <button
      mat-stroked-button
      (click)="convertCode()"
      class="functional-card__actions__item"
      [disabled]="
        (
          this.editorFacadeService.getInputJsonContent() | async
        )?.state?.doc?.toString() === '[]'
      "
    >
      Convert
    </button>
    <ng-content select="app-upload-action"></ng-content>
  </div>
  <app-advanced-expansion-panel
    #accordionContainer
  ></app-advanced-expansion-panel>
</div>
