.detail {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: stretch;
    }
  }

  &__status {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__panels {
    flex: 1 1 0;
    max-width: 40vw;
  }

  &__images {
    flex: 1 1 0;

    &__item {
      max-width: 40vw;
    }
  }

  .mat-icon {
    transform: scale(1.2);
  }
}
