<div class="detail">
  <div class="detail__header">
    <div class="detail__header__row">
      <button mat-icon-button (click)="goBack()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <h1 style="padding-top: 7px">
        {{ reportDetails()?.eventName }}
      </h1>
    </div>
    <div class="detail__status">
      <h2>Status:</h2>
      <mat-icon>{{
        reportDetails()?.passed ? 'check_circle' : 'cancel'
      }}</mat-icon>
      <p>{{ reportDetails()?.createdAt | date: 'medium' }}</p>
      <div>
        <button
          mat-icon-button
          [routerLink]="['..', 'buckets']"
          [queryParams]="{ event: reportDetails()?.eventName }"
        >
          <mat-icon>history</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="detail__content">
    <div class="detail__images">
      <app-carousel
        [imageBlob]="imageBlob$()"
        [videoBlob]="videoBlob$()"
      ></app-carousel>
    </div>
    <div class="detail__panels">
      <app-report-datail-panels
        [reportDetails]="reportDetails()"
      ></app-report-datail-panels>
    </div>
  </div>
</div>
