<div class="container">
  <div class="container__col1">
    <div class="main-content">
      <markdown [src]="fileName()" (ready)="onMarkdownReady()"></markdown>
    </div>
    <div class="actions">
      @if (this.currentNode()) {
        @if (
          currentNodeId() > 1 && currentNodeId() < treeNodeService.getMaxId()
        ) {
          <button mat-raised-button (click)="getPreviousArticle()">
            Previous
          </button>
          <button mat-raised-button (click)="getNextArticle()">Next</button>
        } @else if (currentNodeId() === 1) {
          <div></div>
          <button mat-raised-button (click)="getNextArticle()">Next</button>
        } @else if (currentNodeId() === treeNodeService.getMaxId()) {
          <button mat-raised-button (click)="getPreviousArticle()">
            Previous
          </button>
          <div></div>
        }
      }
    </div>
  </div>

  <div class="toc">
    <ul>
      @for (heading of toc(); track heading.id) {
        <li>
          <a (click)="scrollToSection(heading.id)">{{ heading.text }}</a>
        </li>
      }
    </ul>
  </div>
</div>
