.container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between the columns */

  &__col1 {
    flex: 3; /* Takes up 3 parts of the available space */
    display: flex;
    flex-direction: column;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.main-content {
  padding: 20px;
}

.toc {
  flex: 1; /* Takes up 1 part of the available space */
  max-width: 300px; /* Optional: Set a max width for the TOC */
  height: fit-content;
  padding: 20px;
  border-left: 1px solid #ddd; /* Optional: Add a border to separate the TOC */
}

.toc ul {
  list-style-type: none;
  padding-left: 0;
}

.toc li {
  margin-bottom: 10px;
}

.toc a {
  text-decoration: none;
  color: #007bff;
}

.toc a:hover {
  text-decoration: underline;
}
