<mat-toolbar color="primary">
  <mat-toolbar-row>
    @if (this.snav()) {
      <button mat-icon-button (click)="this.snav()?.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <span [routerLink]="['/']" style="cursor: pointer">TagCheck</span>
    @defer (when this.snav() && this.settings() && this.projects()) {
      @if (this.snav() && this.settings() && this.projects()) {
        <mat-form-field
          appearance="outline"
          color="primary"
          style="margin-left: 1rem; margin-top: 20px"
        >
          <mat-label>Project</mat-label>
          <!-- use output signal to notify the view to switch project -->
          <mat-select
            [(value)]="selectedProject"
            (valueChange)="onChangeProject($event)"
          >
            @for (project of projects(); track project.projectSlug) {
              <mat-option [value]="project.projectSlug">{{
                project.projectName
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
    }
    <span class="spacer"></span>
    @if (isHomeView()) {
      @if (!isSearchVisible()) {
        <button
          mat-icon-button
          (click)="toggleSearch()"
          style="cursor: pointer"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['/init-project']"
          matTooltip="New Project"
          style="cursor: pointer"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          [routerLink]="['/topics']"
          matTooltip="Help Center"
          style="cursor: pointer"
        >
          <mat-icon>help_outline</mat-icon>
        </button>
      }
      @if (isSearchVisible()) {
        <div class="filter-container">
          <mat-form-field appearance="outline" class="filter">
            <input
              matInput
              (keyup)="applyFilter($event)"
              #input
              class="filter__input"
            />
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="closeSearch()"
              class="filter__clear"
            >
              <mat-icon class="filter__icon">close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      }
    }
  </mat-toolbar-row>
</mat-toolbar>
