<div class="project-list">
  <div class="project-list__items">
    @for (item of displayedProjects() | async; track item.projectSlug) {
      <app-project-item
        class="project-list__items__item"
        [project]="item"
      ></app-project-item>
    }
  </div>
  <div [hidden]="hidePaginator()">
    <mat-paginator
      #paginator
      [length]="dataSourceLength()"
      [pageSize]="6"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      [hidePageSize]="true"
    ></mat-paginator>
  </div>
</div>
