@use '@angular/material' as mat;
@use 'variables' as var;
@include mat.core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

$primary-theme: mat.define-light-theme(
  (
    color: (
      primary: var.$primary,
      accent: var.$accent,
      warn: var.$warn,
    ),
    typography: var.$typography,
  )
);

// define custom theme mixin with theme
@mixin custom-button-toggle-theme($theme) {
  // custome css class
  .custom-mat-button-toggle {
    background-color: mat.get-color-from-palette(var.$primary, 500) !important;
    color: mat.get-color-from-palette(var.$primary, 500-contrast) !important;
  }
}

@include custom-button-toggle-theme($primary-theme);
@include mat.all-component-themes($primary-theme);

.secondary {
  background-color: mat.get-color-from-palette(var.$secondary, 500) !important;
  color: mat.get-color-from-palette(var.$secondary, 500-contrast) !important;
}

.remark {
  background-color: mat.get-color-from-palette(var.$remark, 500) !important;
  color: mat.get-color-from-palette(var.$remark, 500-contrast) !important;
}

.icon-contrast {
  color: mat.get-color-from-palette(var.$remark, 500-contrast) !important;
}
