/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Self theme to form fields and inputs
$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((color: (primary: $primary,
        accent: $accent,
        warn: $warn,
      ), density: -4));

// Include the density styles in your theme
@include mat.form-field-theme($theme);
@include mat.input-theme($theme);


// Custom button styles
.mat-mdc-button.mat-action,
.mat-mdc-stroked-button.mat-action {
  color: #1565CF !important;
}

.mat-mdc-button.mat-action:hover,
.mat-mdc-stroked-button.mat-action:hover {
  background-color: #1A73E81A !important;
}

.mat-mdc-raised-button.mat-action,
.mat-mdc-flat-button.mat-action,
.mat-mdc-fab.mat-action,
.mat-mdc-mini-fab.mat-action {
  color: #1565CF !important;
  background-color: #1A73E81A !important;
}

.mat-icon-button.mat-action {
  color: #1565CF !important;
}

// Custom button styles
.mat-mdc-button.mat-success,
.mat-mdc-stroked-button.mat-success {
  color: #155724 !important;
}

.mat-mdc-button.mat-success:hover,
.mat-mdc-stroked-button.mat-success:hover {
  background-color: #f0fff3 !important;
}

.mat-mdc-raised-button.mat-success,
.mat-mdc-flat-button.mat-success,
.mat-mdc-fab.mat-success,
.mat-mdc-mini-fab.mat-success {
  color: #f0fff3 !important;
  background-color: #155724 !important;
}

.mat-icon-button.mat-success {
  color: #155724 !important;
}