<div class="side-nav-list">
  <mat-nav-list>
    @for (item of items; track item.icon) { @if (item.title !== 'Settings') {
    <mat-list-item [routerLink]="item.link">
      <div class="mat-list-item-content">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
        <div class="spacer"></div>
      </div>
    </mat-list-item>
    } }
    <mat-list-item>
      <div class="mat-list-item-content">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span>Settings</span>
        <button
          class="btn-chevron"
          mat-icon-button
          (click)="isOpen = !isOpen"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (mouseenter)="isOpen = true"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <app-overlay [trigger]="trigger" [isOpen]="isOpen">
      <mat-nav-list class="mat-elevation-z8" style="background-color: white">
        <mat-list-item class="sub-list-item">
          <div matListItemTitle>Project Information</div>
        </mat-list-item>
        <mat-list-item class="sub-list-item">
          <div matListItemTitle>Preloading Values</div>
        </mat-list-item>
        <mat-list-item class="sub-list-item">
          <div matListItemTitle>Authentication</div>
        </mat-list-item>
        <mat-list-item class="sub-list-item">
          <div matListItemTitle>GTM Mode</div>
        </mat-list-item>
        <mat-list-item class="sub-list-item">
          <div matListItemTitle>Advanced Browser</div>
        </mat-list-item>
      </mat-nav-list>
    </app-overlay>
  </mat-nav-list>
</div>
