.sub-list-item {
  height: 30px !important;
}

.sub-list-item .mat-mdc-list-item-title {
  font-size: 14px !important;
}

.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.spacer {
  flex: 1 1 0;
}

.btn-chevron {
  scale: 0.7;
}

.settings {
  padding-left: 30rem;
  padding-top: 5rem;
  padding-right: 30rem;

  &__browser {
    max-width: 600px;
  }
}
