<div class="side-nav-list">
  <mat-nav-list>
    @for (item of items; track item.icon) { @if (item.title !== 'Settings') {
    <mat-list-item
      tabindex="-1"
      [routerLink]="item.link"
      [routerLinkActive]="['secondary']"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="onMenuClick()"
    >
      <div class="mat-list-item-content">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.title }}</span>
        <div class="spacer"></div>
      </div>
    </mat-list-item>
    } }
    <mat-list-item
      tabindex="-1"
      [ngClass]="{ secondary: selectedParent === 'Settings' }"
    >
      <div class="mat-list-item-content">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span>Settings</span>
        <button
          tabindex="-1"
          class="btn-chevron"
          mat-icon-button
          (click)="isOpen = !isOpen"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (mouseenter)="isOpen = true"
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <app-overlay [trigger]="trigger" [isOpen]="isOpen">
      <mat-nav-list class="mat-elevation-z8" style="background-color: white">
        <!-- TODO: use @for with a list -->
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'project-info']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Project Information</div>
        </mat-list-item>
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'pre-loading-values']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Preloading Values</div>
        </mat-list-item>
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'authentication']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Authentication</div>
        </mat-list-item>
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'gtm']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Google Tag Manager</div>
        </mat-list-item>
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'advanced-browser-settings']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Advanced Browser</div>
        </mat-list-item>
        <mat-list-item
          class="sub-list-item"
          [routerLink]="['./', 'settings', 'project-io']"
          [routerLinkActive]="['secondary']"
          (click)="isOpen = false; onSubItemClick('Settings')"
        >
          <div matListItemTitle>Project IO</div>
        </mat-list-item>
      </mat-nav-list>
    </app-overlay>
  </mat-nav-list>
</div>
