<div class="test-detail-panels">
  <mat-accordion class=".example-headers-align" multi>
    <mat-expansion-panel
      hideToggle
      (opened)="switchSpecEdit()"
      (closed)="switchSpecEdit()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Data Layer Spec </mat-panel-title>
        <mat-panel-description>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          @if (specEdit() && !specEditMode()) {
            <button
              mat-mini-fab
              color="primary edit"
              (click)="switchSpecEditMode($event); $event.stopPropagation()"
            >
              <mat-icon class="icon-contrast" matTooltip="Edit">edit</mat-icon>
            </button>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        @if (!specContent()) {
          <p>No Spec found</p>
        } @else if (!specEditMode()) {
          <ng-container>
            <pre class="json">{{ specContent() | json }}</pre>
          </ng-container>
        } @else {
          <app-editor
            [editorExtension]="'specJson'"
            [content]="specContent() | json"
          ></app-editor>
        }
      </mat-panel-description>
      @if (specEditMode()) {
        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="specFileInput.click()"
          >
            Upload
          </button>
          <input
            hidden
            (change)="onSpecFileSelected($event)"
            #specFileInput
            type="file"
          />
          <button
            mat-raised-button
            color="primary"
            [disabled]="isJsonSyntaxError | async"
            (click)="onSpecUpdate(); switchSpecEditMode($event)"
          >
            Save
          </button>
          <button
            mat-raised-button
            class="remark"
            (click)="switchSpecEditMode($event)"
          >
            Cancel
          </button>
        </mat-action-row>
      }
    </mat-expansion-panel>

    <mat-expansion-panel
      hideToggle
      (opened)="switchRecordingEdit()"
      (closed)="switchRecordingEdit()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Chrome Recording </mat-panel-title>
        <mat-panel-description>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          @if (recordingEdit() && !recordingEditMode()) {
            <button
              mat-mini-fab
              color="primary edit"
              (click)="
                switchRecordingEditMode($event); $event.stopPropagation()
              "
            >
              <mat-icon class="icon-contrast" matTooltip="Edit">edit</mat-icon>
            </button>
            <input
              hidden
              (change)="onRecordingFileSelected($event)"
              #fileInput
              type="file"
            />
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        @if (!recordingContent()) {
          <p>No recording found</p>
        } @else if (!recordingEditMode()) {
          <ng-container>
            <pre class="json">{{ recordingContent() | json }}</pre>
          </ng-container>
        } @else {
          <app-editor
            [editorExtension]="'recordingJson'"
            [content]="recordingContent() | json"
          ></app-editor>
        }
      </mat-panel-description>
      @if (recordingEditMode()) {
        <mat-action-row>
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            Upload
          </button>
          <input
            hidden
            (change)="onRecordingFileSelected($event)"
            #fileInput
            type="file"
          />
          <button
            mat-raised-button
            color="primary"
            [disabled]="isJsonSyntaxError | async"
            (click)="onRecordingUpdate(); switchRecordingEditMode($event)"
          >
            Save
          </button>
          <button
            mat-raised-button
            class="remark"
            (click)="switchRecordingEditMode($event)"
          >
            Cancel
          </button>
        </mat-action-row>
      }
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Raw Request </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p>{{ reportDetails()?.rawRequest }}</p>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Request Data Layer </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <pre class="json">{{ reportDetails()?.reformedDataLayer | json }}</pre>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Data Layer </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <!-- <pre class="json">{{ (reportDetails$ | async)?.dataLayer | json }}</pre> -->
        <pre class="json">{{ reportDetails()?.dataLayer | json }}</pre>
      </mat-panel-description>
      <!-- <mat-action-row
        ><button mat-raised-button color="success" (click)="onDownload()">
          Download
        </button></mat-action-row
      > -->
    </mat-expansion-panel>
  </mat-accordion>
</div>
