<div class="test-detail-panels">
  <mat-accordion class="headers-align" multi>
    <mat-expansion-panel
      #specPanelRef
      hideToggle
      (opened)="switchSpecEdit()"
      (closed)="switchSpecEdit()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Data Layer Spec </mat-panel-title>
        <mat-panel-description>
          @if (!specEditMode()) {
            <button
              mat-mini-fab
              color="primary"
              class="edit"
              (click)="openPanelAndToggleSpec(specPanelRef, $event)"
            >
              <mat-icon class="icon-contrast" matTooltip="Edit">edit</mat-icon>
            </button>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        @if (isSpecLoading) {
          <div class="loading-spinner">
            <mat-progress-spinner
              [mode]="'indeterminate'"
            ></mat-progress-spinner>
          </div>
        } @else {
          @if (!specContent()) {
            <p>No Spec found</p>
          } @else if (!specEditMode()) {
            <ng-container>
              <pre class="json">{{ specContent() | json }}</pre>
            </ng-container>
          } @else {
            <app-editor
              [editorExtension]="'specJson'"
              [content]="specContent() | json"
            ></app-editor>
          }
        }
      </mat-panel-description>
      @if (specEditMode()) {
        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="specFileInput.click()"
          >
            Upload
          </button>
          <input
            hidden
            (change)="onSpecFileSelected($event)"
            #specFileInput
            type="file"
          />
          <button
            mat-raised-button
            color="primary"
            [disabled]="isJsonSyntaxError()"
            (click)="onSpecUpdate(); switchSpecEditMode($event)"
          >
            Save
          </button>
          <button
            mat-raised-button
            class="remark"
            (click)="closePanelAndToggleSpec(specPanelRef, $event)"
          >
            Cancel
          </button>
        </mat-action-row>
      }
    </mat-expansion-panel>

    <mat-expansion-panel
      #recordingPanel
      hideToggle
      (opened)="switchRecordingEdit()"
      (closed)="switchRecordingEdit()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Chrome Recording </mat-panel-title>
        <mat-panel-description>
          @if (!recordingEditMode()) {
            <button
              mat-mini-fab
              color="primary"
              class="edit"
              (click)="openPanelAndToggleRecording(recordingPanel, $event)"
            >
              <mat-icon class="icon-contrast" matTooltip="Edit">edit</mat-icon>
            </button>
            <input
              hidden
              (change)="onRecordingFileSelected($event)"
              #fileInput
              type="file"
            />
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        @if (isRecordingLoading) {
          <div class="loading-spinner">
            <mat-progress-spinner
              [mode]="'indeterminate'"
            ></mat-progress-spinner>
          </div>
        } @else {
          @if (!recordingContent()) {
            <p>No recording found</p>
          } @else if (!recordingEditMode()) {
            <ng-container>
              <pre class="json">{{ recordingContent() | json }}</pre>
            </ng-container>
          } @else {
            <app-editor
              [editorExtension]="'recordingJson'"
              [content]="recordingContent() | json"
            ></app-editor>
          }
        }
      </mat-panel-description>
      @if (recordingEditMode()) {
        <mat-action-row>
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            Upload
          </button>
          <input
            hidden
            (change)="onRecordingFileSelected($event)"
            #fileInput
            type="file"
          />
          <button
            mat-raised-button
            color="primary"
            [disabled]="isJsonSyntaxError()"
            (click)="onRecordingUpdate(); switchRecordingEditMode($event)"
          >
            Save
          </button>
          <button
            mat-raised-button
            class="remark"
            (click)="closePanelAndToggleRecording(recordingPanel, $event)"
          >
            Cancel
          </button>
        </mat-action-row>
      }
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Raw Request </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <p>{{ reportDetails()?.rawRequest }}</p>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Request Data Layer </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <pre class="json">{{ reportDetails()?.reformedDataLayer | json }}</pre>
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Data Layer </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        <pre class="json">{{ reportDetails()?.dataLayer | json }}</pre>
      </mat-panel-description>
    </mat-expansion-panel>
    <mat-expansion-panel
      #itemDefPanel
      hideToggle
      (opened)="switchItemDefEdit()"
      (closed)="switchItemDefEdit()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Item Definition </mat-panel-title>
        <mat-panel-description>
          @if (!itemDefEditMode()) {
            <button
              mat-mini-fab
              color="primary"
              class="edit"
              (click)="openPanelAndToggleItemDef(itemDefPanel, $event)"
            >
              <mat-icon class="icon-contrast" matTooltip="Edit">edit</mat-icon>
            </button>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-panel-description>
        @if (isItemDefLoading) {
          <div class="loading-spinner">
            <mat-progress-spinner
              [mode]="'indeterminate'"
            ></mat-progress-spinner>
          </div>
        } @else {
          @if (!itemDefContent()) {
            <p>No item definition found</p>
          } @else if (!itemDefEditMode()) {
            <ng-container>
              <pre class="json">{{ itemDefContent() | json }}</pre>
            </ng-container>
          } @else {
            <app-editor
              [editorExtension]="'itemDefJson'"
              [content]="
                itemDefContent()?.fullItemDef || itemDefContent() | json
              "
            ></app-editor>
          }
        }
      </mat-panel-description>
      @if (itemDefEditMode()) {
        <mat-action-row>
          <button
            mat-raised-button
            color="primary"
            (click)="itemDefFileInput.click()"
          >
            Upload
          </button>
          <input
            hidden
            (change)="onItemDefFileSelected($event)"
            #itemDefFileInput
            type="file"
          />
          <button
            mat-raised-button
            color="primary"
            [disabled]="isJsonSyntaxError() || !(editItemId() || '').trim()"
            (click)="
              onItemDefUpdate(
                editItemId() || '',
                editTemplateName() || undefined
              );
              switchItemDefEditMode($event)
            "
          >
            Save
          </button>
          <button
            mat-raised-button
            class="remark"
            (click)="closePanelAndToggleItemDef(itemDefPanel, $event)"
          >
            Cancel
          </button>
        </mat-action-row>
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>
