.json {
  overflow: auto;
}

.example-headers-align {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-content {
  overflow: auto !important;
}

.mat-expansion-panel-header-description {
  align-items: center;
  gap: 1rem;
}

.edit {
  transform: scale(0.7);
}
