<div class="new-report p-4">
  <form
    class="new-report__form space-y-6"
    [formGroup]="reportForm"
    (ngSubmit)="setEditorContent(); uploadReport()"
  >
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-semibold">Specification</h2>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </div>

    <!-- Editor for specification: reduced height -->
    <app-editor
      class="new-report__form__field w-full h-40"
      [content]="exampleInputJson"
      [editorExtension]="'specJson'"
      [stylesOverride]="{ '.cm-scroller': { height: '100%', width: '100%' } }"
    ></app-editor>

    <div class="my-4">
      <mat-divider></mat-divider>
    </div>

    <div>
      <div class="flex items-center justify-between mb-2">
        <h2 class="text-xl font-semibold">Chrome Recording</h2>
        <button
          type="button"
          mat-stroked-button
          class="mb-2"
          (click)="fileInput.click()"
        >
          Upload
        </button>
      </div>

      <!-- Editor for recording JSON: slightly smaller height -->
      <app-editor
        class="new-report__form__field w-full h-28 mb-4"
        [content]="'{}'"
        [editorExtension]="'recordingJson'"
        [stylesOverride]="{ '.cm-scroller': { height: '100%', width: '100%' } }"
      ></app-editor>
    </div>

    <input hidden (change)="onFileSelected($event)" #fileInput type="file" />
  </form>
</div>
