@use '@angular/material' as mat;

.new-report {

  .mat-mdc-form-field {
    border-radius: 5px;
    padding-top: 1.5rem;
    @include mat.form-field-density(-4);
    @include mat.select-density(-4);
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}
