<div class="report-table">
  <table
    mat-table
    [dataSource]="testDataSource()"
    multiTemplateDataRows
    matSort
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection().hasValue() && isAllSelected()"
          [indeterminate]="selection().hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selectSingleRow(row) : null"
          [checked]="selection().isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="testName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Test Name</th>
      <td mat-cell *matCellDef="let element">
        <a
          style="text-decoration: none"
          [routerLink]="['./', element.eventId]"
          matBadge="bookmark_border"
          [matBadgeHidden]="
            !preventNavigationEvents().includes(element.eventId)
          "
          matBadgeOverlap="false"
        >
          {{ element.testName }}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="eventName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Event</th>
      <td mat-cell *matCellDef="let element">
        {{ element.eventName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="passed">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Data Layer</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [ngClass]="{
            'true-status': element.passed,
            'false-status': !element.passed
          }"
        >
          {{ element.passed ? 'check_circle' : 'cancel' }}
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="requestPassed">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Request</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [ngClass]="{
            'true-status': element.requestPassed,
            'false-status': !element.requestPassed
          }"
        >
          {{ element.requestPassed ? 'check_circle' : 'cancel' }}
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="completedTime">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Last QA Time</th>
      <td mat-cell *matCellDef="let element">
        {{ element.completedTime | date: 'medium' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- running a test -->
        @if ((testRunningFacadeService.isRunningTest$ | async) === true) {
          @if (
            (testRunningFacadeService.eventRunningTest$ | async) ===
            element.eventId
          ) {
            <div style="padding-left: 10px">
              <app-progress-pie-chart></app-progress-pie-chart>
            </div>
          } @else if (
            (testRunningFacadeService.eventRunningTest$ | async) !==
            element.eventId
          ) {
            <!-- other buttons should be disabled when running a test -->
            <button
              mat-icon-button
              aria-label="run test"
              (click)="runTest(element.eventId); $event.stopPropagation()"
              [disabled]="true"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
            <!-- else, show the display button by default; if there's no recording, use another icon to prompt user -->
          }
        } @else {
          @if (projectFacadeService.hasRecording(element.eventId)) {
            <button
              mat-icon-button
              aria-label="run test"
              (click)="runTest(element.eventId); $event.stopPropagation()"
            >
              <mat-icon>play_arrow</mat-icon>
            </button>
          } @else {
            <button
              mat-icon-button
              aria-label="add recording"
              [routerLink]="['./', element.eventId]"
              matTooltipPosition="above"
              matTooltip="Please add recording to run test"
            >
              <mat-icon>report_problem</mat-icon>
            </button>
          }
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand()"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand()"
      class="element-row"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[7, 10, 25, 100]"
    aria-label="Select page of tests"
  ></mat-paginator>
</div>
