.new-report {
  padding: 2rem 10rem;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}